@import "./_colors";

.Packages {
  width: 100%;
  &__package-listing {
    list-style: none;
    width: calc(100% - 2rem);
    margin: 1rem;
    padding: 0;
  }
  &__list-item {
    list-style: none;
    margin-bottom: 1rem;
    border: 1px solid white;
    border-radius: 0.5rem;
    // &--official {
    //   border-color: $color-yellow;
    // }
    // &--published {
    //   border-color: $color-purple;
    // }
  }
}
// .Packages__list-item--official.Packages__list-item--published {
//   border-top-color: $color-yellow;
//   border-left-color: $color-yellow;
// }
