@import "./_colors";

.Packages {
  width: 100%;
  min-height: 80vh;
  height: 100%;
  &__no-packages {
    font-size: 0.825rem;
    margin: 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-weight: bold;
    color: $color-fg;
    text-shadow:
      0 0 4px rgba(200, 175, 0, 0.8),
      0 0 10px rgba(255, 200, 0, 0.8);
  }
  &__package-listing {
    list-style: none;
    width: calc(100% - 2rem);
    margin: 1rem;
    margin-top:2rem;
    padding: 0;
  }
  &__list-item {
    list-style: none;
    margin-bottom: 1rem;
    border: 1px solid $color-white50;
    border-radius: 0.5rem;
    // &--official {
    //   border-color: $color-yellow;
    // }
    // &--published {
    //   border-color: $color-purple;
    // }
  }
}
// .Packages__list-item--official.Packages__list-item--published {
//   border-top-color: $color-yellow;
//   border-left-color: $color-yellow;
// }
