@import "./_colors";

.Package {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  &__link--repo:hover {
    svg {
      fill: $color-pink;
    }
  }
  &__version {
    font-size: 0.75rem;
  }
  &__author-text {
    transition: color 0.3s ease-out;
  }
  &__link--author {
    .Package__author-text {
      color: $color-fg;
    }
    &:hover {
.Package__author-text {
      color: $color-pink;
    }
    }
  }
  &__repo {
    transition: fill 0.3s ease-out;
    fill: $color-fg;
    align-self: center;
    max-width: 1.5rem;
    max-height: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
  }
  &__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
  }
  &__authorbox {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__link--author {
    display: flex;
    flex-direction: row;
    font-size: 0.75rem;
    align-items: center;
  }
  &__avatar {
    margin-right: 0.5rem;
  }
  &__header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  &__description {
    font-size: 0.75rem;
    margin: 0;
    padding: 0;
  }
  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  &__avatar {
    border-radius: 10rem;
    align-self: flex-start;
    border: 1px solid rgba(255, 255, 255, 0.4);
  }
  &__tagbox {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    width: 10rem;
    justify-content: flex-end;
  }
  &__tag {
    font-size: 0.75rem;
    cursor: pointer;
    text-shadow: 0 1px rgba(255, 255, 255, 0.35);
    font-family: Antonio, sans-serif;
    text-transform: uppercase;
    padding: 0.25rem 0.5rem 0.35rem;
    background-color: $color-fg;
    color: $color-bg;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    transition: background 0.3s ease-out;
    &--published {
      background-color: $color-purple;
    }
    &--official {
      background-color: $color-yellow;
    }
    &:hover {
      background-color: $color-pink;
    }
  }
}
