@import "./_colors";
.Searchbar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: calc(100% - 2rem);
  input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background-color: black;
    margin: 0;
    color: $color-bg;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    width: 0.75rem;
    height: 0.75rem;
    margin-right: 0.5rem;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      -webkit-mask: url(../assets/icon-star.svg) no-repeat 50% 50%;
      mask: url(../assets/icon-star.svg) no-repeat 50% 50%;
      -webkit-mask-size: cover;
      mask-size: cover;
      background-color: $color-bg;
      width: 1.125rem;
      height: 1.125rem;
      left: -0.25rem;
      top: -0.25rem;
      transform: rotate(360deg) scale(0.01);
      transition: transform 0.3s ease-out;
    }
    &:checked::before {
      transform: rotate(0deg) scale(1);
      background-color: $color-blue;
    }
  }
  &__toggles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: flex-end;
  }
  &__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    justify-content: flex-end;
  }
  &__input {
    &--text {
      padding: 0.5rem;
      border: 1px solid white;
      border-radius: 4rem;
      background-color: black;
      &:focus {
        border: 1px solid #ff0;
        outline: 1px solid #fc0;
      }
    }
    &--checkbox {
      margin: 0;
      padding: 0;
      margin-top: 0.1rem;
      margin-right: 0.5rem;
    }
  }
  &__label-text {
    transition: color 0.3s ease-in;
    color: $color-fg;
  }
  &__label {
    cursor: pointer;
    max-width: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Antonio, sans-serif;
    text-transform: uppercase;
    font-size: 0.875rem;
    margin: 0.25rem;
    margin-right: 1rem;
    &--official {
      input[type="checkbox"]:checked + .Searchbar__label-text {
        color: $color-yellow;
      }
    }
    &--published {
      input[type="checkbox"]:checked + .Searchbar__label-text {
        color: $color-purple;
      }
    }
  }
}
