@import "./_colors";
.Searchbar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: calc(100% - 2rem);
  margin: 0;
  padding: 0;
  &__title {
    display: flex;
    flex-direction: row;
    width: 30%;
    margin: 0;
    padding: 0;
  }
  &__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 65%;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
  }
  input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background-color: black;
    margin: 0;
    color: $color-bg;
    border: 1px solid $color-white50;
    border-radius: 100%;
    width: 0.75rem;
    height: 0.75rem;
    margin-right: 0.5rem;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      -webkit-mask: url(../assets/icon-star.svg) no-repeat 50% 50%;
      mask: url(../assets/icon-star.svg) no-repeat 50% 50%;
      -webkit-mask-size: cover;
      mask-size: cover;
      background-color: $color-bg;
      width: 1.125rem;
      height: 1.125rem;
      left: -0.25rem;
      top: -0.25rem;
      transform: rotate(360deg) scale(0.01);
      transition:
        transform 0.3s ease-out,
        background 0.3s ease-out;
    }
    &:checked::before {
      transform: rotate(0deg) scale(1);
      background-color: $color-fg;
    }
  }
  &__toggles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: flex-end;
  }

  &__input {
    &--text {
      padding: 0.5rem;
      border: 1px solid $color-white50;
      color: $color-fg;
      border-radius: 4rem;
      background-color: black;
      &:focus {
        border: 1px solid #ff0;
        outline: 1px solid #fc0;
      }
    }
    &--checkbox {
      margin: 0;
      padding: 0;
      margin-top: 0.1rem;
      margin-right: 0.5rem;
    }
  }
  &__search-wrapper {
    position: relative;
    width: 2rem;
    height: 2rem;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    box-shadow: 0 0 0 white;
    display: flex;
    flex-direction: row;
    transition:
      background 0.3s ease-out,
      width 0.3s 0.3s ease-out,
      filter 0.3s ease-out, box-shadow 0.3s ease-out;
    &:hover {
      border: 1px solid $color-yellow;
      // box-shadow: 0 0 5px rgba(255,200,0, 0.8), 0 0 10px rgba(255,255,0, 0.5); 
    }
    &:focus-within,
    &--searching {
      cursor: text;
      width: 20rem;
      box-shadow: 0 0 8px white;
      background-color: white;
      z-index: 10;
      .Searchbar__search-icon {
        filter: invert(0);
      }
    }
  }
  &__search-icon-wrapper {
    pointer-events: none;
    position: absolute;
    width: 1rem;
    top: 0.35rem;
    left: 0.45rem;
    // margin-left: 0.25rem;
    // margin-right: 0.25rem;
  }
  &__search-icon {
    position: relative;
    width: 1rem;
    height: 1rem;
    filter: invert(100%);
  }
  &__search {
    font-family: "Fira Code", monospace;
    cursor: pointer;
    width: calc(100% - 2px);
    height: calc(2rem - 2px);
    padding-left: 1.75rem;
    border-radius: 1rem;
    // border-radius: 0 1rem 1rem 0;
    transition:
      width 0.3s ease-out,
      box-shadow 0.3s 0.3s ease-out,
      outline 0.3s 0.3s ease-out,
      background 0.3s 0.6s ease-out;
    background-color: transparent;
    border: 1px solid transparent;
    &:hover,
    &:focus,
    &:active {
      cursor: text;
      outline: 1px solid rgba(255, 255, 255, 0.1);
    }
  }

  &__label-text {
    transition: color 0.3s ease-in;
    color: $color-fg;
  }
  &__select {
    margin-right: 1rem;
    font-family: "Fira Code", monospace;
    option {
      font-family: "Fira Code", monospace;
    }
  }
  &__label {
    cursor: pointer;
    max-width: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Antonio, sans-serif;
    text-transform: uppercase;
    font-size: 0.875rem;
    margin: 0.25rem;
    margin-right: 0.75rem;
    &--select {
      .Searchbar__label-text {
        margin-right: 0.5rem;
      }
    }
    &--official {
      input[type="checkbox"]:checked + .Searchbar__label-text {
        color: $color-yellow;
      }
    }
    &--published {
      input[type="checkbox"]:checked + .Searchbar__label-text {
        color: $color-purple;
      }
    }
  }
}
