$color-bg: #180e1c;
$color-fg: #dee8f4;
// $cg: #393552;
// $cg2: #4d0b33;
$color-yellow: #eac968;
$color-blue: #a9b3ec;
$color-pink: #ff6f97;
// $color-pink: #ff228a;
$color-purple: #a571e3;
$color-green: #9ccfd8;
$color-orange: #ea9a97;
$color-white50: rgba(255,255,255,0.5);
