@import "./styles/_anim";

.logo {
  fill: $color-fg;
  &--animated {
    animation: 10s infinite hum ease-in;
  }
  &--large {
    width: 35.625rem;
    height: 6rem;
  }
  &--medium {
    width: 25rem;
    height: 4.375rem;
  }
  &--small {
    width: 18.75rem;
    height: 3.25rem;
  }
}

