@import "colors";
@import "font";
@import "media";

.HowToGuide {
  width: 100%;
  display: flex;
  flex-direction: column;
  &__header {
    width: 100%;
    &--title {
      // @include skewed;
      color: $color-pink;
      margin: 2rem 10%;
      width: 80%;
      text-align: center;
    }
    &--block {
      // @include skewed;
      font-size: 2.4rem;
      color: $color-yellow;
      text-align: center;
      margin: 2rem 0 2rem;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @media (screen and min-width: $mq-1) {
      flex-direction: row;
      align-items: space-between;
      justify-content: center;
    }
  }
  &__block {
    width: 84%;
    margin: 0 8%;
    @media (screen and min-width: $mq-1) {
      width: 74%;
      margin: 0 16% 1rem;
      max-width: 35rem;
    }
    // @media (screen and min-width: $mq-2) {
    //   width: calc((100% / 3) - 1rem);
    // }
  }
  code {
    @include fontFira;
    background-color: #000;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0 0.5rem;
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    font-size: 0.8rem;
  }
  pre {
    width: 100%;
    overflow: hidden;
    position: relative;
    &::before {
      content: attr(data-lang);
      position: absolute;
      right: 0;
      top: 0;
      background-color: $color-blue;
      color: $color-bg;
      font-size: 0.5rem;
      border-top-right-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
      padding: 0.5em;
      z-index: 20;
    }
    code {
      z-index: 10;
      overflow-x: auto;
      display: block;
      padding: 0.5rem;
    }
  }
}
