@import "colors";
@import "font";
@import "media";
@import "mixins";

code {
  @include fontFira;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: 0.75em;
}

.HowToGuide {
  width: calc(100% - 2rem);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  // text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  // mix-blend-mode: color-dodge;
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    max-width: 42rem;
  }
  p, code {
    max-width: 36rem;
  }
  &__index--ordinal {
    @include fontFira;
    font-size: 1rem;
    vertical-align: middle;
    margin: 0;
    border-radius: 100%;
    margin-left: 0.5rem;
    background-color: $color-green;
    color: $color-bg;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 2rem;
    height: 2rem;

    min-width: 2rem;
    min-height: 2rem;

    max-width: 2rem;
    min-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    justify-self: flex-start;
    line-height: 1rem;
  }
  &__title {
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1em;
  }
  &__header {
    width: 100%;
    &--main {
      color: $color-fg;
      font-size: 2.5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    &--section,
    &--subsection,
    &--example,
    &--summary {
      mix-blend-mode: hard-light;
      text-shadow: 0 0 0.5rem rgba(230, 29, 29, 0.69);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      margin: 2rem 0 1rem;
      padding-bottom: 0.75rem;
      position: relative;
      code {
        padding: 0;
        font-size: 1em;
        background-color: transparent;
        border: none;
        vertical-align: baseline;
        @include fontAntonio;
        // color: $color-yellow;
        mix-blend-mode: color-dodge;
        text-shadow: 0 0 0.5rem rgba(29, 230, 29, 0.4);
      }
      &::after {
        // mix-blend-mode: color-dodge;
        content: "";
        position: absolute;
        border-bottom: 0.25rem solid $color-fg;
        box-shadow: 0 0 10px $color-fg;
        width: 4rem;
        height: 1px;
        right: 0;
        bottom: -4px;
      }
    }
    &--section,
    &--subsection,
    &--example {
      &::before {
        content: "✦";
        position: absolute;
        color: currentColor;
        left: -1rem;
        // bottom: -3.5rem;
        font-size: 0.4em;
        padding-bottom: 0.5rem;
        vertical-align: top;
        margin-right: 0.5rem;
      }
    }
    &--section {
      // @include skewed;
      color: $color-pink;
      font-size: 2rem;
      &::before {
        color: $color-yellow;
        text-shadow: -0.75rem -0.25rem $color-pink;
      }
      &::after {
        border-bottom-color: $color-pink;
        box-shadow: 0 0 10px $color-pink;
      }
    }
    &--subsection {
      // @include skewed;
      color: $color-yellow;
      font-size: 1.8rem;

      &::after {
        border-bottom: 0.25rem solid $color-yellow;
        box-shadow: 0 0 10px $color-yellow;
      }
    }
    &--example {
      // @include skewed;
      color: $color-orange;
      font-size: 1.6rem;
      &::before {
        content: "▲";
      }
      &::after {
        border-bottom-color: $color-orange;
        box-shadow: 0 0 10px $color-orange;
      }
    }
    &--summary {
      // @include skewed;
      color: $color-blue;
      font-size: 2rem;
      &::after {
        border-bottom-color: $color-blue;
        box-shadow: 0 0 10px $color-blue;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @media (screen and min-width: $mq-1) {
      flex-direction: row;
      align-items: space-between;
      justify-content: center;
    }
  }
  &__block {
    width: 84%;
    margin: 0 8%;
    @media (screen and min-width: $mq-1) {
      width: 74%;
      margin: 0 16% 1rem;
      max-width: 35rem;
    }
    // @media (screen and min-width: $mq-2) {
    //   width: calc((100% / 3) - 1rem);
    // }
  }

  &__language {
    width: 100%;
    overflow: hidden;
    position: relative;

    code {
      z-index: 10;
      display: block;
      padding: 0.5rem;
      // box-decoration-break: clone;
    }
    .HowToGuide__button--copy {
      z-index: 10;
      // position: absolute;
      // right: 0.5rem;
      // bottom: 0.5rem;
      // display: none;
      width: 1rem;
      height: 1rem;
      position: absolute;
      right: 0.5rem;
      bottom: 0.5rem;
      // opacity: 0;
      transition:
        top 0.3s ease-out,
        left 0.3s ease-out,
        opacity 0.3s ease-out;
      pointer-events: none;
      .copy-me_svg__base {
        fill: $color-fg;
      }
      &:hover {
        .copy-me_svg__base {
          fill: $color-pink;
        }
      }
    }
    &__language--mad {
      .HowToGuide__button--copy {
        opacity: 1;
      }
      .doc {
        fill: $color-yellow;
      }
    }
    &:not(.HowToGuide__language--none) {
      .HowToGuide__language-meta {
        // user-select: none;
        @include fontAntonio;
        content: attr(data-lang);
        position: absolute;
        right: 0;
        top: 0;
        background-color: $color-bg;
        color: $color-blue;
        border: 2px solid $color-blue;
        border-left-color: transparent;
        border-bottom-color: transparent;
        font-size: 0.75rem;
        border-top-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        padding: 0.5em;
        z-index: 20;
        text-shadow: none;
      }
    }
  }
}
