@import "colors";

@keyframes hum {
  0%,
  100% {
    fill: $color-yellow;
  }
  25% {
    fill: $color-pink;
  }
  50% {
    fill: $color-purple;
  }
  75% {
    fill: $color-blue;
  }
}

@keyframes humtext {
  0%,
  100% {
    color: $color-yellow;
  }
  25% {
    color: $color-pink;
  }
  50% {
    color: $color-purple;
  }
  75% {
    color: $color-blue;
  }
}
